## Q-1
Create one variable containing following type of data:

In [2]:
my_string = "Hello World"
my_list = [1,2,3,4]
my_float = 3.9
my_tuple = (4,5,6,7)

## Q-2 
Given are some following variables containing 
data:
What will be the data type of the above given variable.

In [6]:
var1 = ‘ ‘
	data type of var1 is string 0 length, which is called empty string
var2 = ‘[ DS , ML , Python]’
	data type of var2 is list inside the string
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
	data type of var3 is list 
var4 = 1.
	data type of var4 is flaot

SyntaxError: invalid character '‘' (U+2018) (2243111889.py, line 2)

## Q-3
Explain the use of the following operators using an example:

In [ ]:
(1) /  = division operator

In [15]:
1/2

0.5

In [ ]:
(2) %  = modulas operator

In [16]:
5%2

1

In [ ]:
(3) // = floor division

In [17]:
20//4

5

In [ ]:
(4) ** = power operator

In [18]:
2**4

16

## Q-4
Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
my_list = [1,2.5, True, "Python", [3, 4, 5], {"name": "John", "age": 25}, 'Me', 8+2j, 'Hello', (6,7)]
for i in my_list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'complex'>
<class 'str'>
<class 'tuple'>

## Q-5
Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
A = 24  
B = 3   

count = 0  

while A % B == 0:
    A = A / B
    count += 1

print("Number A is divisible by number B", count, "times.")

Number A is divisible by number B 1 times.

## Q-6 
Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
my_list = [22, 19, 31, 24, 17, 45, 27, 36, 11, 9, 42, 33, 10, 14, 21, 7, 8, 30, 29, 6, 23, 20, 16, 4, 13]

for element in my_list:
    if element % 3 == 0:
        print(element, "Divisible by 3")
    else:
        print(element, "Not divisible by 3")

22 Not divisible by 3
19 Not divisible by 3
31 Not divisible by 3
24 Divisible by 3
17 Not divisible by 3
45 Divisible by 3
27 Divisible by 3
36 Divisible by 3
11 Not divisible by 3
9 Divisible by 3
42 Divisible by 3
33 Divisible by 3
10 Not divisible by 3
14 Not divisible by 3
21 Divisible by 3
7 Not divisible by 3
8 Not divisible by 3
30 Divisible by 3
29 Not divisible by 3
6 Divisible by 3
23 Not divisible by 3
20 Not divisible by 3
16 Not divisible by 3
4 Not divisible by 3
13 Not divisible by 3

## Q-7
What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable : Mutable data types are changable like you can manipulate that data

Immutable : Immutable data types are not changable.

In [22]:
Z = 'Krishna'

In [23]:
Z[2] = 'u'
# so strings are immutable

TypeError: 'str' object does not support item assignment

In [24]:
X = [1,2,3,'Me','You']

In [26]:
X[2] = 'We'

In [27]:
X

[1, 2, 'We', 'Me', 'You']

In [ ]:
lists are mutable